# Core Dependencies
python-dotenv==1.2.1
pydantic==2.12.5
pydantic-settings==2.12.0

# LangChain (Latest versions)
langchain==1.2.9
langchain-core==1.2.9
langchain-community==0.4.1
langchain-google-genai==4.2.0
langchain-groq==1.1.2
langchain-text-splitters==1.1.0

# Vector Stores
faiss-cpu==1.7.4
pinecone==7.3.0
langchain-pinecone==0.2.13

# Embeddings
sentence-transformers==5.2.2
torch==2.10.0

# LLMs
google-generativeai==0.8.6
groq==0.37.1

# Document Processing
pypdf==6.7.0

# Utilities
tqdm==4.67.3

fastapi
uvicorn

streamlit requests